<div class="gallery-container">
  <div class="gallery-header">
    <button (click)="goBack()" class="btn-back">⬅ Назад к объявлению</button>
    <h2>Галерея объекта</h2>
  </div>

  @if (!loaded) {
    <div class="loader">Загрузка фотографий...</div>
  } @else {
    <div class="photo-grid">
      @for (photo of photos; track photo.id) {
        <div class="photo-card">
            <img 
            [src]="photo.url" 
            [alt]="photo.title" 
            class="photo-img"
            (error)="handleImageError($event)"
            >
          
          <div class="photo-title">{{ photo.title }}</div>
        </div>
      }
    </div>
  }
</div>