<div class="page-header">
  <h2>База объявлений</h2>
  <p>Управление вашими объектами недвижимости</p>
</div>

@if (!loaded) {
  <div class="loader-container">
    <div class="spinner"></div>
    <p>Загрузка объектов с сервера...</p>
  </div>
} @else {
  <div class="krisha-grid">
    @for (album of albums; track album.id) {
      <div class="krisha-card">
        @if(album.image){
            <img [src]="album.image" class="card-image" style="height: 140px; object-fit: cover; width: 100%;">
        }@else{
            <div class="card-image-placeholder">
              <span>🏠 Объект #{{ album.id }}</span>
            </div>
        }

        <div class="card-content">
          <p class="card-id">ID объявления: {{ album.id }}</p>
          
          <h3 class="card-title">{{ album.title }}</h3>
          
          <div class="card-actions">
            <a [routerLink]="['/albums', album.id]" class="btn-details">Подробнее</a>
            <button (click)="deleteAlbum(album.id)" class="btn-delete">Снять с публикации</button>
          </div>
        </div>

      </div>
    }
  </div>
}