<div class="about-container">
  <div class="about-content">
    
    <div class="about-column">
      <h2>🏢 About Krisha</h2>
      <p> This is SPA (Single Page Application)</p>
      
      <p><strong>Технические особенности:</strong></p>
      <ul>
        <li> <b>Angular Router</b></li>
        <li> REST API (<b>JSONPlaceholder</b>) with HttpClient.</li>
      </ul>
    </div>

    <div class="about-column developer-column">
      <h2>👨‍💻 About Developer</h2>
      
      <div class="dev-info">
        <div class="info-item">
          <strong>Студент</strong>
          <span>Адилет</span>
        </div>
        
        <div class="info-item">
          <strong>University</strong>
          <span>KBTU</span>
        </div>
        
        <div class="info-item">
          <strong>Course</strong>
          <span>Web Development</span>
        </div>

        <div class="info-item">
          <strong>Stack</strong>
          <span>Angular, TypeScript, HTML, CSS, JS </span>
        </div>
      </div>
    </div>

  </div>
</div>